
ion-title{
  color: #ff8a08;
}

ion-card{
  width: 100%;
  color: white;
}

ion-button{
  text-decoration: none;
  font-size: 20px;
  width: 100%;
  height: 100%;
  padding: 0;
  text-align: left;
}

.icons{
  float: right;
  font-size: 25px;
  font-weight: bolder;
  margin-left: auto;
}
